*{
    margin: 0;
}
header {
    background-color: #33363b;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 500px;
  }
  
  header img {
    height: 60px;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin: 0;
  }
  
  nav a {
    color: #ffcc00;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #ffffff;
  }
  